<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>画像分類アプリ</title>

    <!-- アイコンの読み込み: https://icooon-mono.com/15824-%e3%83%80%e3%83%9f%e3%83%bc%e4%ba%ba%e5%bd%a2%e3%82%a2%e3%82%a4%e3%82%b3%e3%83%b31/ -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- TailwindCSSファイル読み込み -->
    <link rel="stylesheet" href="{{url_for('static',filename='output.css')}}">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-12">
        <h1 class="text-4xl font-bold mb-8 text-center">画像分類アプリ</h1>
        <div class="text-2xl mb-8 text-center">
            飛行機, 自動車, 鳥, 猫, 鹿, 犬, 蛙, 馬, 船, トラックの画像を入力してください。
        </div>
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% if error %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                <strong class="font-bold">{{ error }}</strong>
            </div>
            {% endif %}
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="image_uri">画像のURL</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="image_uri" name="image_uri" type="text" placeholder="画像のURLを入力">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="image_file">画像ファイル</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="image_file" name="image_file" type="file">
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        分類
                    </button>
                </div>
            </form>
        </div>
        {% if classification_results %}
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8">
            <h2 class="text-2xl font-bold mb-4">分類結果</h2>
            <ul>
                <li class="mb-2">
                    この画像は<span class="font-bold">{{ predict_score }}</span>%で<span class="font-bold">{{ classification_results }}</span>です。
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</body>

</html>